<section data-ng-controller="HomeController">
  <h1>Trading &amp; Portfolios Prototype</h1>
  
  <div class="row voffset4">

    <div class="col-xs-12">
      <a href="#!/portfolio/margin" class="btn btn-primary">Margin</a>
      <a href="#!/portfolio" class="btn btn-primary">Portfolio</a>
      <a href="#!/portfolio/customize" class="btn btn-primary">Customize Views</a>
      <a href="#!/global-header" class="btn btn-primary">Global Header Prototype</a>
      <a href="#!/news-null" class="btn btn-primary">News Null State</a>
      <a href="http://etrade:pr0t0typ3@complex-tables.etradecreative.com/" class="btn btn-primary">DataTables evaluation</a>
      <a style='display:none' href="#!/trade" class="btn btn-primary">Trade Ticket</a>
    </div>

    <div class="col-xs-6 voffset4">
      <h2><strong>Portfolio</strong> Changelog</h2>

      <h3 class='voffset2'>Sprint 3</h3>
      <strong>Released July 29<sup>th</sup></strong>
      <dl>
        <dt>Major Updates</dt>
        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-724'>PWG-724</a></strong> Added a Delete button to the Notes flyout on the positions table.</dd>
        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-719'>PWG-719</a></strong> >Added <a href='http://styleguide.etradecreative.com/navigation/pagination.html'>pagination</a> to the UI Toolkit.</dd>
        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-410'>PWG-410</a></strong> >Added styling to the Mutal Funds table for All Start NTF funds. <strong>Note</strong> some css styling for this table will be updated in an upcoming sprint. Acceptance criteria for 410 is being modified to allow for this change.</dd>
      </dl>

      <h3 class='voffset2'>Sprint 2</h3>
      <strong>Released July 8<sup>th</sup></strong>
      <dl>
        <dt>Major Updates</dt>
        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-627'>PWG-627</a></strong> Added <a href="#!/portfolio/customize">Customize Views UI</a>.</dd>

        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-572'>PWG-627</a></strong> Added UI for the Security Type Filter.</dd>

        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-622'>PWG-627</a></strong> Added Pagination UI to the Positions Table.</dd>

      </dl>

      <h3 class='voffset2'>Sprint 1</h3>
      <strong>Released June 17<sup>th</sup></strong>
      <dl>
        <dt>Major Updates</dt>
        <dd><strong><a href='https://itrack.corp.etradegrp.com/browse/PWG-512'>PWG-512</a></strong> Did an initial evaluation of DataTables as a potential complex table solution. Primarily looking at responsive potential &amp; performance with large data sets. <a href="http://etrade:pr0t0typ3@complex-tables.etradecreative.com/">See the proof of concept here</a>.</dd>
	<dd>Added edit lots modal</dd>
	<dd><a href="https://itrack.corp.etradegrp.com/browse/PWG-572">PWG-572</a> - Added security filter dropdown with checkboxes</dd>
	<dd>When viewing all US brokerage accounts, they can be grouped by account (though some details around this are still pending from product)</dd>
	<dd>When viewing all US Brokerage accounts, trade button was moved to inside the expanded row</dd>
	<dt>Minor Updates</dt>
	<dd>Added background highlight for in-the-money options</dd>
	<dd>Added placeholder for symbol filter</dd>
	<dd>Added null state for news in tear sheet</dd>
	<dd>Changed footer icons and placement for edited lots</dd>
      </dl>



      <h3 class='voffset2'>Sprint 0</h3>
      <dl>
        <dt>Major Updates</dt>
          <dd>Defined variations to the global header in a <a href='/#!/global-header'>ui tearsheet</a>.</dd>
          <dd>Updated "mini quote flyouts" data points as well as styling up dates to match the flyout stye guide.</dd>
        <dt>Minor Updates</dt>
          <dd>Changed "Your Position View" label to read "Performance".</dd>
          <dd>Removed "Group By" in the expanded features.</dd>
          <dd>Match style of Open Orders table to match trade's View Impact to Purchasing Power.</dd>
      </dl>
    </div>

    <div class='col-xs-6 voffset4'>
      <h2><strong>Trading</strong> Changelog</h2>
      <h3 class='voffset2'>Sprint 1</h3>
      <dl>
        <dt>Minor Updates</dt>
          <dd>Changed classname on the calcuate label to <code>.calculate-label</code>.</dd>
      </dl>
    </div>

  </div>
</section>
