<section data-ng-controller="IncomeController">
    <div class="clearfix voffset3">
	<div class="col-xs-12">
	<a href="" scroll-to="earn-more">Looking to earn more?</a>
	</div>
    </div>
    <div class="clearfix voffset2">
	<div class="col-xs-12">
		<h4>Income Summary</h4>
		<p class="voffset1">The Income Estimator is a tool provided to help you anticipate the potential dividends, capital gains, principal and interest income you may epect to receive based on your current account holdings. <a href="">Learn More</a></p>
	</div>
    </div>
    <div class="clearfix">
	<time-Filter start-date="filters.startDate" end-date="filters.endDate" initial-range="'6 months'"></time-Filter>
	<div class="form-control-labelless form-control-static">
	<div class="col-xs-2">
		<a class="et-icon-chevron-right toggle-link" ng-click="showFilters= !showFilters" ng-init="showFilters = false" ng-class="{rotate:showFilters}">Filters</a>
	</div>
	</div>
    </div>
    <div class="clearfix animate-show-filters" ng-show="showFilters">
	<div class="col-xs-12 col-md-auto">
	<label for="symbolFilter">Symbol</label>
	<input type="text" ng-model="filters.symbolFilter" placeholder="Enter Symbol" class="form-control">
	</div>
	<div class="col-xs-12 col-sm-auto">
	<label for="securityType">Security Type</label>
	<div class="et-select-wrapper">
	    <select name="securityType" id="securityType" ng-model="filters.securityType">
		<option value="!">All</option>
		<option value="stocks">Stocks</option>
		<option value="mutual">Mutual Funds</option>
		<option value="bonds">Bonds</option>
	    </select>
	</div>
	</div>
    </div>
	<div class="row separated-columns voffset2">
	    <div class="col-xs-12 col-md-auto">
		<div class="col-xs-12 col-md-auto">
		    <div class="label">Estimated Income</div>
		    <div class="primary">${{visiblePositions.estIncome}}</div>
		</div>
	    </div>
	    <div class="col-xs-12 col-md-6">
		<div class="col-xs-12 col-md-auto">
		    <div class="label">Dividends</div>
		    <div class="secondary">${{visiblePositions.estIncome}}</div>
		</div>
		<div class="col-xs-12 col-md-auto">
		    <div class="label">Capital Gains</div>
		    <div class="secondary ">$0.00</div>
		</div>
		<div class="col-xs-12 col-md-auto">
		    <div class="label">Bond Interest</div>
		    <div class="secondary">$0.00</div>
		</div>
		<div class="col-xs-12 col-md-auto">
		    <div class="label">Bond Principal</div>
		    <div class="secondary">$0.00</div>
		</div>
	    </div>
	</div>
    <!-- <img src="/modules/portfolio/img/barchart.svg"> -->
    <div class="row voffset2">
	<!-- <highchart config="chartConfig" class="col-xs-12"></highchart> -->
	<div style="background: #ccc; color: #fff;
	width: 100%; height: 200px; padding-top:80px; font-size: 30px; font-weight: 100; text-align: center;">Bar Chart of income for {{filters.startDate | date:'MM/dd/yy'}} to {{filters.endDate | date:'MM/dd/yy'}}</div>
	<!-- <img src="http://dummyimage.com/1200x200/cccccc/ffffff&text=Bar Chart of income for {{filters.startDate | date:'MM/dd/yy'}} to {{filters.endDate | date:'MM/dd/yy'}}" alt=""> -->
    </div>
    <!-- <h4>Income by Payment</h4> -->
    <div class="row voffset3">
	<table class="table table-expandable">
	    <thead>
		<colgroup class="arrows"></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
		<colgroup></colgroup>
<!-- 		<colgroup></colgroup>
		<colgroup></colgroup> -->
		<colgroup class="actions-column"></colgroup>
		<tr>
		    <th></th>
		    <th>Payable Date</th>
		    <th>Symbol</th>
		    <th>Frequency</th>
		    <th>Income Type</th>
		    <th>Status</th>
		    <!-- <th>Ex-Dividend Date</th> -->
		    <!-- <th>Record Date</th> -->
		    <th class="text-right">Qty #</th>
		    <th class="text-right">Rate</th>
		    <th class="text-right">Est. Income $</th>
		    <th class="text-center">Actions</th>
		</tr>
	    </thead>
	    <tfoot>
	    <tr class="totals-row">
		<td></td>
		<td colspan="7">Total</td>
		<td class="text-right">{{visiblePositions.estIncome}}</td>
		<td></td>
	    </tr>
	    <tr>
	    	<td colspan="10" class="disclaimer">Real Time Quotes *mutual fund quotes as of previous day</td>
	    </tr>
	    </tfoot>
	    <tbody ng-repeat="position in visiblePositions" ng-click="toggleRow($event, $index)">
		<tr>
		    <td class="arrows"><span class="arrow et-icon-chevron-right" ng-class="expandedRowsVisible[$index] ? 'rotate' : ''"></span></td>
		    <td>{{position.dividendPayableDate*1000 | date}}</td>
		    <td><a href="" et-quick-quote='position' symbol="position._id" >{{position._id}}</a></td>
		    <td>Quarterly</td>
		    <td>Dividend</td>
		    <td>Estimated</td>
		    <!-- <td></td> -->
		    <!-- <td>{{position.exDividendDate*1000 | date:"MM/dd/yy"}}</td> -->
		    <td class="text-right">{{position.quantity}}</td>
		    <td class="text-right">{{position.dividend}}</td>
		    <td class="text-right">{{position.estIncome | number:2}}</td>
		    <td class="btn-cell actions-column"><span ng-click="bellToggle = !bellToggle; $event.stopPropagation();" ng-init="bellToggle = false" ng-class="{'et-icon-bell-alt':!bellToggle, 'et-icon-bell':bellToggle}" title="Set Alert"></span>
		    <span ng-click="documentToggle = !documentToggle; $event.stopPropagation();" ng-init="documentToggle = false" ng-class="{'et-icon-document-alt':!documentToggle, 'et-icon-document':documentToggle}" title="Add Note"></span><dropdown-trade-btn></dropdown-trade-btn></td>
		</tr>
		<tr ng-if="expandedRowsVisible[$index]">
		    <td colspan="10">
			<div class="panel">
			    <div class="row">
				<div class="col-md-8">
				    <div class="panel-title">{{position.companyName}}</div>
				    <table class="table table-horizontal col-sm-6">
						<thead>
							<tr>
								<th>Description</th>
								<th>Payable Date</th>
								<th>Ex-Dividend Date</th>
								<th>Record Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{position.companyName}}</td>
								<td>{{(position.exDividendDate + 1100000)*1000 | date:"MM/dd/yy"}}</td>
								<td>{{position.exDividendDate*1000 | date:"MM/dd/yy"}}</td>
								<td>{{((position.exDividendDate - 200000)*1000) | date:"MM/dd/yy"}}</td>
							</tr>
						</tbody>
				    </table>
				</div>
			    </div>
			</div>
		    </td>
		</tr>
	    </tbody>
	</table>
    </div>
    <div class="row voffset4">
	<div class="col-xs-12">
	    <div class="panel panel-info">
		<div class="panel-body">
		    <div class="col-xs-12 col-sm-auto pull-right">
			<a href="" class="btn btn-default">Transaction History</a>
		    </div>
		    <div class="panel-title">Income Earned Year to Date <span class="secondary">$500.69</span></div>
		</div>
	    </div>
	</div>
    </div>
    <div class="row voffset4">
	<div class="col-xs-12">
	    <div class="panel panel-default" id="earn-more">
		<div class="panel-heading">
		    <div class="panel-title">Looking to earn more?</div>
		</div>
		<div class="panel-body separated-columns">
		    <div class="col-xs-12 col-sm-6">
			<p>Quickly look up securities you do not yet own to estimate the potential income you could receive. Then buy or add those securities to a Watch List</p>
			<div class="row">
			    <div class="col-sm-6">
				<label for="lookup">Symbol</label>
				<input type="text" class="form-control" id="lookup" placeholder="Enter Symbol">
			    </div>
			    <label>&nbsp;</label>
			    <div class="col-sm-6">
				<button class="btn btn-default">Estimate Income</button>
			    </div>
			</div>
		    </div>
		    <div class="col-xs-12 col-sm-6">
			<p class="col-xs-12">Get income-generating investment ideas through these additional resources</p>
			<ul class="list-unstyled col-xs-12">
			    <li class="col-xs-6"><a href="#" class="et-icon-carat-right after">Top 5 Dividends Yielding Stocks</a></li>
			    <li><a href="#" class="et-icon-carat-right after">Bond Fund Selector</a></li>
			    <li class="col-xs-6"><a href="#" class="et-icon-carat-right after">Top Performing Fixed Income All-Star Mutual Funds</a></li>
			    <li><a href="#" class="et-icon-carat-right after">Preferred Stocks</a></li>
			    <li><a href="#" class="et-icon-carat-right after">Investment for Income</a></li>
			</ul>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>
