<div class="arrow"></div>
<div class="panel">
     <div class="panel-body">
        <button class="close" aria-label="close"><span aria-hidden="true">×</span></button>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="secondary">{{position._id}} <span class="text-muted">{{position.companyName}}</span></h5>
            </div>
        </div>
        <div class="row voffset2">
            <div class="col-xs-4 col-sm-auto">
                <div class="label">Net Asset Value</div>
                <div class="secondary">{{position.value | currency}}</div>
            </div>
            <div class="col-xs-4 col-sm-auto">
                <div class="label">Today's Change</div>
                <div class="secondary pos">{{position.dayGainDollar | currency}} ({{position.dayGainPercent}}%)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 voffset2">
                <div ng-include="'/modules/portfolio/views/partials/popover-chart.client.view.html'"></div>
                <div class="pull-left">
                    <div class="voffset2"><span class="label">Fund Category</span> Intermediate-Term Bond</div>
                    <span class="label">Morningstar Rating</span> 
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star-alt"></span>
                </div>
                <span class="allstar voffset3 pull-right"><span class="label label-success">NTF</span> <img src="/modules/portfolio//img/allstarfunds.gif" alt="Allstar Funds"> </span>
            </div>
        </div>        
    </div>
    <div class="panel-footer">    
        <div class="row">
            <div class="col-xs-12 col-sm-auto pull-right">
                <button class="btn btn-default">Auto Invest</button>
                <button class="btn btn-default">View Fund Details</button>
                <button class="btn btn-success">Trade</button>
            </div>
            <div class="col-sm-auto pull-left voffset2"><time>As of {{timestamp | date: "MM/dd/yyyy hh:mm a ET"}}</time></div>
        </div>
    </div>
</div>