<div class="arrow"></div>
<div class="panel">
    <div class="panel-body">
        <button ng-click="$hide(); $event.stopPropagation();" class="close" aria-label="close"><span aria-hidden="true">×</span></button>
        
        <div class="row">
            <div class="col-xs-12">
                <h5 class="secondary">E*Trade Financial Corp Com </h5>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-xs-4 col-sm-auto">
                <div class="label">Last Price</div>
                <div class="secondary">$30.90</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <table class="table-horizontal voffset2">
                    <tbody>
                        <tr>
                            <th>CUSIP</th>
                            <td class="text-right">257867AR2</td>
                        </tr>
                        <tr>
                            <th>Bond Type</th>
                            <td class="text-right">Corporate</td>
                        </tr>
                        <tr>
                            <th>Coupon</th>
                            <td class="text-right">2.50%</td>
                        </tr>
                        <tr>
                            <th>Maturity Date</th>
                            <td class="text-right">3/1/2015</td>
                        </tr>
                        <tr>
                            <th>S&amp;P Rating</th>
                            <td class="text-right">BBB-</td>
                        </tr>
                        <tr>
                            <th>Moody's Rating</th>
                            <td class="text-right">Baa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="col-xs-12 col-md-4 flyout-data voffset2">
                <table class="table-horizontal">
                    <tbody>
                        <tr>
                            <th>Next Interest Payment Date</th>
                            <td class="text-right">07/15/15 </span><a href="" class="et-icon-calendar-new"></a></td>
                        </tr>
                        <tr>
                            <th>Estimateed Payment Amount</th>
                            <td class="text-right">$132.00</td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td class="text-right">100,000</td>
                        </tr>
                        <tr>
                            <th class="special-event-before"><span>Material Events </span></th>
                            <td class="text-right">S&amp;P long term rating downgraded from CCC to CC eff 03/16/2015</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="col-xs-12 col-md-5 flyout-news voffset2">
                <ul class="list-unstyled">
                    <li class="tertiary">News</li>
                    <li>
                        <a class="" href="#">AIG to Redeem 8.250% Notes Due 2018 in new corporate issue...</a>
                        <div class="disclaimer">
                            <time datetime="article.time" class="">04/13/2015 10:32 -0400</time>
                            <span class="pipe ">MarketWatch.com</span>
                        </div>
                    </li>
                    <li class="voffset2">
                        <a class="" href="#">Life Insurance Weekly Recap: AIG, MetLife, Guardian</a>
                        <div class="disclaimer">
                            <time datetime="article.time" class="">04/13/2015 10:21 -0400</time>
                            <span class="pipe ">New York Times</span>
                        </div>
                    </li>
                    <li class="voffset2">
                        <a class="" href="#">MW UPDATE: AIG Posts Higher Profit this quarter on revised earnings and increasing...</a>
                        <div class="disclaimer">
                            <time datetime="article.time" class="">04/13/2015 09:31 -0400</time>
                            <span class="pipe ">CNBC.com</span>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
    </div>
    
    <div class="panel-footer" >    
        <div class="row">
            <div class="pull-left voffset3">
                <div class="col-sm-auto"><time>As of 11:00 AM ET 12/31/14</time></div>
            </div>
            <div class="pull-right">
                <div class="col-xs-12 col-sm-auto">
                    <button class="btn btn-default">Request Detail</button>
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <button class="btn btn-default">Bond Detail</button>
                </div>
            </div>
        </div>
    </div>
</div>
    