<div class="arrow"></div>
<div class="panel">
     <div class="panel-body">
        <button ng-click="$hide(); $event.stopPropagation();" class="close" aria-label="close"><span aria-hidden="true">×</span></button>
        
        <div class="row">
            <div class="col-xs-12">
                <h5 class="secondary"><span>FDLXX</span> <span class="text-muted">Fidelity Treasury Only Money Market Fund</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 voffset2">
                <table class="table-horizontal voffset2">
                    <tbody>
                        <tr>
                            <th>7-Day Current Yield</th>
                            <td class="text-right">0.01%</td>
                        </tr>
                        <tr>
                            <th>Annual Total Return</th>
                            <td class="text-right">0.01%</td>
                        </tr>
                        <tr>
                            <th>Weighted Average Maturity</th>
                            <td class="text-right">55 Days</td>
                        </tr>
                        <tr>
                            <th>Fund Category</th>
                            <td class="text-right">Money Market Taxable</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <div class="panel-footer">    
        <div class="row">
            <div class="pull-right">
                <div class="col-xs-12 col-sm-auto">
                    <button class="btn btn-default">Fund Details</button>
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <button class="btn btn-success">Trade</button>
                </div>
            </div>
            <div class="col-sm-12 voffset2"><time>As of 11:00 AM ET 12/31/14</time></div>
        </div>
    </div>
</div>
