<div class="arrow"></div>
<div class="panel">
     <div class="panel-body">
        <button ng-click="$hide(); $event.stopPropagation();" class="close" aria-label="close"><span aria-hidden="true">×</span></button>
        
        <div class="row">
            <div class="col-xs-12">
                <h5 class="secondary">DODIX <span class="text-muted">DODGE &AMP; COX INCOME</span></h5>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-xs-4 col-sm-auto">
                <div class="label">Net Asset Value</div>
                <div class="secondary">$58.10</div>
            </div>
            <div class="col-xs-4 col-sm-auto">
                <div class="label">Today's Change</div>
                <div class="secondary neg"> $0.20 (0.14%)</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 voffset2">
                <div ng-include="'modules/flyout/views/partials/chart.html'"></div>
                <div class="voffset1"><span class="label">Fund Category</span> Intermediate-Term Bond</div>
                <div>
                    <span class="label">Morningstar Rating</span> 
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star"></span>
                    <span class="et-icon-star-alt"></span>
                    <b class="allstar pull-right">ALLSTAR <span class="label label-success">NTF</span></b>
                </div>
            </div>
        </div>        
    </div>
    <div class="panel-footer">    
        <div class="row">
            <div class="col-xs-12 col-sm-auto pull-right">
                <button class="btn btn-default">Auto Invest</button>
                <button class="btn btn-default">Fund Details</button>
                <button class="btn btn-success">Trade</button>
            </div>
            <div class="col-sm-12 voffset2"><time>As of 11:00 AM ET 12/31/14</time></div>
        </div>
    </div>
</div>

