<div class="popover-chart">
    <nav class="pull-left">
        <ul class="pagination pagination-sm">
            <li class="active"><a href="#">1d</a></li>
            <li><a href="#">5d</a></li>
            <li><a href="#">3m</a></li>
            <li><a href="#">1y</a></li>
        </ul>
    </nav>
    <span class="et-icon-expand-window pull-right"></span>
    <img alt="chart" title="chart" src="/modules/portfolio/img/chart.png">
    <span class="key-one"></span> <span class="label">Key One</span> <span class="key-two"></span> <span class="label">Key Two</span>
</div>