<div class="popover margin-summary">
    <div class="arrow"></div>
    <div class="row">
    <div class="pull-right" ng-click="$hide(); $event.stopPropagation()"><button class="close" aria-label="Close">×</button></div>
        <div class="col-xs-12">
            <header style="padding: 10px 5px">
                <h5>Cash Purchasing Power Summary</h5>
            </header>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Security Type</th>
                        <th>Requirement</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="text-right">Total Margin Requirements</td>
                        <td class="text-right">$95.69</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="text-right">Equities</td>
                        <td class="text-right">$95.69</td>
                    </tr>
                    <tr>
                        <td class="text-right">Bonds</td>
                        <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                        <td class="text-right">Options</td>
                        <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                        <td>Money Market & Mutual Funds</td>
                        <td class="text-right">$0.00</td>
                    </tr>
                </tbody>
            </table>
            <h4>Margin Equity</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Security Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="text-right">Total Margin Equity</td>
                        <td class="text-right">$411.38</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="text-right">Margin Market Value Long</td>
                        <td class="text-right">$95.69</td>
                    </tr>
                    <tr>
                        <td class="text-right">Margin Market Value Short</td>
                        <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                        <td class="text-right">Short Reserve</td>
                        <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                        <td class="text-right">Net Cash/Margin Balance</td>
                        <td class="text-right">$315.69</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>