<div class="popover" style="max-width:650px;">
    <div class="arrow"></div>
    <div class="row">
    <div class="pull-right" ng-click="$hide(); $event.stopPropagation()"><button class="close" aria-label="Close">×</button></div>
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-title"><span style="margin-right:30px;margin-left:9px;">Investable Cash</span> <span>$257.22</span></div>
            <table class="table" style="margin-bottom:10px;width:auto;">
                <thead>
                    <tr>
                        <th colspan="3" style="">Marginable Securities</th>
                        <th class="text-right" style=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" style="border:none;">Purchasing Power Before Open Orders Reserve</td>
                        <td class="text-right" style="border:none;">$1,000.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border:none;">Reserve for Open Orders</td>
                        <td class="text-right" style="border:none;">$1,000.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="totals-row">
                        <td colspan="3" style="">Purchasing Power After Open Orders Reserve</td>
                        <td class="text-right" style="">$1,000.00</td>
                    </tr>
                </tfoot>
            </table>

            <table class="table" style="width:auto;">
                <thead>
                    <tr>
                        <th colspan="3" style="">Non-Marginable Securities</th>
                        <th class="text-right" style=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" style="border:none;">Purchasing Power Before Open Orders Reserve</td>
                        <td class="text-right" style="border:none;">$1,000.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border:none;">Reserve for Open Orders</td>
                        <td class="text-right" style="border:none;">$1,000.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="totals-row">
                        <td colspan="3" style="">Purchasing Power After Open Orders Reserve</td>
                        <td class="text-right" style="">$1,000.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
</div>
