<div class="popover">
    <div class="arrow"></div>
    <div class="row">
    <div class="pull-right" ng-click="$hide(); $event.stopPropagation()"><button class="close" aria-label="Close">×</button></div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <header style="padding: 10px 0px">
                    <h5>Cash Purchasing Power Summary</h5>
                </header>
                <table class="table-horizontal">
                    <tbody>
                        <tr>
                            <th>Cash</th>
                            <td class="text-right" style="color:#242424">$501.89</td>
                        </tr>
                        <tr>
                            <th>Margin</th>
                            <td class="text-right" style="color:#242424">$0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
