<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Need a place to start? Check out these pre-selected lists of mutual funds:</h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-12 suggested-links">
				<a href="#">Exclusive All-Star Funds</a>
				<a href="#">Fund Strategies</a>
				<a href="#">Sector Funds</a>
				<a href="#">International Funds</a>
				<a href="#">Money Market Funds</a>
			</div>
			<div class="col-xs-12 voffset3">
				<p>Or search for funds using our <a href="#">Mutual Fund Screener</a></p>
			</div>
		</div>
	</div>
