<div class="panel panel-default">
    <div class="panel-heading">
        <h3>E*Trade has several tools available to help you create an options strategy</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 suggested-links">
            <a href="#">Options Analyzer</a>
            <a href="#">Options Screener</a>
            <a href="#">Strategy Optimizer</a>
        </div>
        <div class="col-xs-12 voffset3">
            <p>New to options? Check out our library of educational resources <a href="#">here</a></p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    	<h3>This account is not currently enabled for options</h3>
    </div>
    <div class="panel-body">
    	<div class="col-xs-12">
    		<a href="#">Submit an options upgrade application</a>
    	</div>
    </div>
</div>
