<div class="popover margin-summary">
    <div class="arrow"></div>
    <div class="clearfix">
	<button class="close" aria-label="close" ng-click="$hide(); $event.stopPropagation()"><span aria-hidden="true">×</span></button>
        <div class="col-xs-12">
            <h4>Available for Withdrawal Summary</h4>
            <table class="table-horizontal voffset2">
                <tbody>
                    <tr>
                        <th>Cash</th>
                        <td>$1,000.69</td>
                    </tr>
                    <tr>
                        <th>Margin</th>
                        <td>$0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>