<div class="popover fee">
    <div class="arrow"></div>
    <div class="row">
    <div class="pull-right" ng-click="$hide(); $event.stopPropagation()"><button class="close" aria-label="Close">×</button></div>

    <div class="col-xs-12">
        <div class="panel" style="margin-bottom:0;padding-bottom:0;">
        <header class="panel-heading" style="padding: 10px 5px">
            <h5 class="secondary">Available for Withdrawal Summary</h5>
        </header>
        <table class="table table-horizontal">
            <tbody>
            <tr>
                <th style="border:none;">Cash</th>
                <td style="border:none;">$25.15</td>
            </tr>
            <tr>
                <th style="border:none;">Margin</th>
                <td style="border:none;">$0.00</td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>
    </div>
</div>
