<div class="flex">
<div class="col-xs-8">
    <div class="panel">
        <table class="table">
            <thead>
                <th>Order Buy</th>
                <th>Quantity</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{transaction.orderType}}</td>
                    <td>{{transaction.shares}}</td>
                    <td>{{transaction.symbol}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel">
        <table class="table">
            <thead>
                <th>Price Type</th>
                <th>Your Price</th>
                <th ng-if="transaction.priceType === 'limit'">Limit Price</th>
                <th>Term</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{transaction.priceType}}</td>
                    <td>{{transaction.last | currency}}</td>
                    <td ng-if="transaction.priceType === 'limit'">{{transaction.limitPrice | currency}}</td>
                    <td>{{transaction.term}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 voffset3">
            <div class="panel panel-highlight">
                <span class="panel-highlight-item">
                    <span class="label">Estimated Commission:</span>
                    <span class="data-point"> {{transaction.commission | currency}}</span>
                </span>
        
                <span class="panel-highlight-item" ng-if="transaction.orderType === 'sell'">
                    <span class="label">Estimated Fees:</span> <span class="data-point"> $9.99</span>
                </span>

                <span class="panel-highlight-item" ng-if="transaction.orderType === 'buy'">
                    <span class="label">Estimated Total Cost:</span> 
                    <span class="data-point"> {{transaction.totalCost | currency}}</span>
                </span>

                <span class="panel-highlight-item" ng-if="transaction.orderType === 'sell'">
                    <span class="label">Estimated Proceeds</span> 
                    <span class="data-point"> {{transaction.estimatedProceed | currency}} </span>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 voffset3 trade-tab">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-4" ng-hide="transaction.shares === undefined">
                    <div class="nav" ng-click="togglePurchasingPower = !togglePurchasingPower">
                        <a class="trade-toggle-link et-icon-chevron-right et-trigger-link" ng-class="{rotate:purchasingPowerOpen}" ng-click="purchasingPowerOpen = !purchasingPowerOpen" aria-label="Toggle Purchasing Power">View impact to purchasing power</a>
                    </div>
                </div>
                <div class="col-xs-2" ng-if="transaction.orderType === 'sell'">
                    <div class="nav" ng-click="toggles.toggleLotSelector()">
                        <span ng-hide="toggleLotSelector" class="et-icon-chevron-right disclaimer"><a class="et-trigger-link" style="margin-left: 3px;" href="">Select Lots</a></span>
                        <span ng-show="toggleLotSelector" class="et-icon-chevron-down disclaimer"><a class="et-trigger-link" href="">Select Lots</a></span>
                    </div>
                </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default panel-supplemental trade-toggle-link" ng-show="purchasingPowerOpen" ng-init="calculatePurchasingPower()">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th>Non-Marginable Securities/Options</th>
                                        <th>Marginable Securities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left" colspan="2">Purchasing power before open orders:</td>
                                        <td>{{purchasingPower.beforeOpenOrders | currency}}</td>
                                        <td>$10,777.69</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left" colspan="2">Reserve for other open orders:</td>
                                        <td>{{purchasingPower.reserve | currency}}</td>
                                        <td>$10,777.69</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td class="text-left" colspan="2">Purchasing power impact of this order:</td>
                                        <td>{{purchasingPowerImpactThisOrder | currency}}</td>
                                        <td>$10,777.69</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left" colspan="2"><strong>Purchasing power after this order:</strong></td>
                                        <td><strong>{{purchasingPowerAfterThisOrder | currency}}</strong></td>
                                        <td><strong>$10,777.69</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="panel panel-default trade-toggle-link" ng-class=" { 'open-close': !toggleLotSelector } " ng-if="toggleLotSelector">

                                <p>We have selected the offsetting lot(s) based on your preference of Last In, First Out. To choose different lots, please use the lot selector below.</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dates Acquired</th>
                                            <th class="text-center">Price Paid</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center">Quantity for sale</th>
                                            <th class="text-right">Term</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lot in accountDataForSymbol.lots">
                                            <td>{{lot.created | date: 'MM/dd/yyyy'}}</td>
                                            <td class="text-center">{{lot.pricePaid | currency}}</td>
                                            <td class="text-center">{{lot.quantity}}</td>
                                            <td class="text-center">
                                                <input type="text" class="form-control" placeholder="">
                                            </td>
                                            <td class="text-right">{{lot.term}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                    </div>

            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12 trade-footer">
        <div class="col-xs-12 col-md-5 col-lg-5 voffset3">
            <a href="" class="btn btn-default" ng-click="step.current = 1; clearItems();">Cancel Order</a>
            <a href="" class="btn btn-default" ng-click="step.current = 1; startLiveUpdate();">Change Order</a>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-7 voffset3">
            <span class="text-muted col-xs-8">You are placing a firm order. Click only once to avoid placing multiple orders.</span>
            <a href="" class="btn btn-primary pull-right" ng-click="createStock()">Place Order</a>
        </div>
    </div>
</div>
</div>

<div class="col-xs-4 panel panel-default snapshot-symbol">
    <div ng-include="'modules/trade/views/partials/workspace/snapshot-symbol.html'"></div>
    
    <div class="voffset3 disclaimer text-right">
        <time>Real Time Quote - Last Trade 1:06 PM ET 10/8/15</time>
    </div>
    <div class="disclaimer text-right"><a href="">View Margin Maintence Requirement</a></div>
</div>
</div>