<div class="panel-conditional" ng-repeat="conditionalStep in ticket">
    <div class="row">
        <div class="col-xs-12">
            <div class="row conditional-step" ng-if="conditionalStep.instruction">
                <div class="col-xs-12">
                    <div class="tertiary"><span class="badge">{{$index+1}} </span> <strong>Step {{$index+1}}:</strong> {{conditionalStep.instruction}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
        <div class="row flex">
            <div class="col-xs-8">
                <div class="panel">
                    <div class="row">
                        <div class="col-xs-4 col-md-12" ng-if="transaction.conditional.type === 'bracketed'" ng-init="transaction.conditional.step[$index].priceType = 'trailing-stop-dollar'">
                            <div class="row">
                                <div class="col-xs-6 col-md-2 col-lg-2">
                                    <label>Symbol</label>
                                    <input type="text" name="symbol" ng-model="transaction.conditional.step[$index].symbol" ng-change="updateSearch($index); utils.upperCase($index);" class="form-control et-icon-search" placeholder="Symbol" ng-init="transaction.conditional.step[$index].symbol = conditionalStep.symbol">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-12" ng-if="transaction.conditional.type === 'one-triggers-all'" ng-init="transaction.conditional.step[$index].priceType = 'market'">
                            <div class="row">
                                <div class="col-xs-4 ">
                                    <label>Select your type of trade</label>
                                    <div class="et-select-wrapper">
                                        <select name="securityType" ng-model="transaction.conditional.step[$index].securityType" ng-init="transaction.conditional.step[$index].securityType = conditionalStep.securityType">
                                            <option value="stock">Stocks</option>
                                            <option value="option">Options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-2 col-lg-2">
                                    <label>Symbol</label>
                                    <input type="text" name="symbol" ng-model="transaction.conditional.step[$index].symbol" ng-change="updateSearch($index); utils.upperCase($index);" class="form-control et-icon-search" placeholder="Symbol" ng-init="transaction.conditional.step[$index].symbol = conditionalStep.symbol">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="label">Order Type</span>
                            <div class="et-select-wrapper">
                                <select ng-model="transaction.conditional.step[$index].orderType" ng-init="transaction.conditional.step[$index].orderType = conditionalStep.orderType">
                                    <option value="buy">Buy</option>
                                    <option value="sell">Sell</option>
                                    <option value="sell-short">Sell Short</option>
                                    <option value="buy-to-cover">Buy to Cover</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <span class="label">Qty.</span>
                            <input name="shares" ng-model="transaction.conditional.step[$index].shares" ng-change="utils.removeDecimal(); estimateTotalCost();" class="form-control">
                        </div>

                        <a href="" class="col-xs-2 calculate" data-template="/modules/trade/views/partials/flyouts/flyout-calculator.client.view.html" data-placement="right" data-animation="am-fade-and-slide-top" data-auto-close="1" bs-popover>
                            <div class="et-icon-calculator"></div>
                            <div class="disclaimer">Calculate Quantity</div>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <span class="label">Price Type</span>
                            <div class="et-select-wrapper" ng-class="{disabled: transaction.conditional.step[$index].symbol == ''}">
                                <select ng-model="transaction.conditional.step[$index].priceType" ng-disabled="transaction.conditional.step[$index].symbol == ''">
                                    <option value="market" ng-if="transaction.conditional.type === 'one-triggers-all'">Market</option>
                                    <option value="market-on-close" ng-if="transaction.conditional.type === 'one-triggers-all'">Market on Close</option>
                                    <option value="limit" ng-if="transaction.conditional.type === 'one-triggers-all'">Limit</option>
                                    <option value="stop-on-quote" ng-if="transaction.conditional.type === 'one-triggers-all'">Stop on Quote</option>
                                    <option value="stop-limit-on-quote" ng-if="transaction.conditional.type === 'one-triggers-all'">Stop Limit on Quote</option>
                                    <option value="trailing-stop-dollar" ng-if="transaction.conditional.type === 'bracketed'">Trailing Stop $</option>
                                    <option value="trailing-stop-percent" ng-if="transaction.conditional.type === 'bracketed'">Trailing Stop %</option>
                                    <option value="hidden-stop" ng-if="transaction.conditional.type === 'bracketed'">Hidden Stop</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-xs-3" ng-if="transaction.conditional.step[$index].priceType === 'limit'">
                            <span class="label">Limit Price</span>
                            <input type="text" name="" class="form-control" placeholder="Limit Price" ng-model="transaction.conditional.step[$index].limitPrice">
                        </div>
                        <div class="col-xs-3" ng-if="transaction.conditional.step[$index].priceType === 'trailing-stop-dollar' || transaction.conditional.step[$index].priceType === 'trailing-stop-percent'">
                            <span class="label">Upper Stop Value</span>
                            <input type="text" name="" class="form-control" placeholder="" ng-model="transaction.conditional.step[$index].upperStopValue">
                        </div>
                        <div class="col-xs-3" ng-if="transaction.conditional.step[$index].priceType === 'trailing-stop-dollar' || transaction.conditional.step[$index].priceType === 'trailing-stop-percent'">
                            <span class="label">Lower Stop Value</span>
                            <input type="text" name="" class="form-control" placeholder="" ng-model="transaction.conditional.step[$index].lowerStopValue">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label">Term</span>
                                    <div class="et-select-wrapper">
                                        <select ng-model="transaction.term" ng-init="transaction.conditional.step[$index].term = 'good-for-the-day'">
                                            <option value="good-for-the-day">Good for the Day</option>
                                            <option value="good-for-sixty-days">Good for 60 days</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 voffset2">
                                    <div class="checkbox large" ng-class="{disabled: transaction.conditional.step[$index].symbol == ''}">
                                        <input class="large" type="checkbox" id="all-or-none" ng-model="transaction.conditiona.step[$index].allNone">
                                        <label class="text-muted" for="all-or-none">All or none (if 300+)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row voffset2" ng-show="$index === 1">
                        <div class="col-md-12">
                            <a class="btn btn-default" href="">+ Add another order to this group (optional)</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 workspace {{transaction.conditional.type}}" ng-init="loadAccountData()" ng-if="$index === 0 || transaction.conditional.step[$index].symbol !== ''">
                <aside class="panel panel-default" style="margin-bottom:0;">
                    <et-segmented-bar class="btn-group-justified" ng-init="segment = 'snapshot'" ng-model="segment" current="segment" segments='[{value:"snapshot",text:"Snapshot"},{value:"positions",text:"Positions"},{value:"orders", text:"Open Orders"}]'></et-segmented-bar>
                    <div ng-show="segment === 'snapshot' && transaction.conditional.step[$index].symbol === ''">
                        <div class="snapshot-index">
                            <table class="col-xs-12 table-horizontal">
                                <tbody>
                                    <tr class="indices" ng-repeat="quote in performance.indices">
                                        <th>{{quote.Product.symbol}}</th>
                                        <td class="text-center">{{quote.All.lastTrade}}</td>
                                        <td class="text-right">{{quote.All.changeClose}} ({{quote.All.changeClosePercentage}}%)</td>
                                        <td class="text-right">{{quote.All.totalVolume | million}}M</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <img src="/modules/trade/img/chart-snapshot.png" alt="">
                        <div class="text-right disclaimer voffset1">
                            <time>Real Time Quote - Last Trade 1:06 PM ET 10/8/14</time>
                        </div>
                    </div>
                    <div ng-show="segment === 'snapshot' && transaction.conditional.step[$index].symbol !== ''">
                        <div ng-if="step.current === 1">
                            

                            <table style="width:100%;border-bottom:1px solid #dbdbdb">
                                <tr>
                                    <td colspan="2" class="tertiary text-left">{{transaction.conditional.step[$index].companyName}}</td>
                                    <td class="text-muted text-right">{{transaction.conditional.step[$index].symbol}}:NYSE</td>
                                </tr>
                            </table>
                            <div class="row voffset2">
                                <div class="col-xs-5">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Last</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="secondary">{{transaction.conditional.step[$index].last}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="">{{transaction.conditional.step[$index].changeClose}} ({{transaction.conditional.step[$index].changeClosePercentage}})</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-xs-7">
                                    <table class="voffset2">
                                        <tbody>
                                            <tr>
                                                <th colspan="2" width="100">Bid (Size)</th>
                                                <td class="text-right">{{transaction.conditional.step[$index].bid}}</td>
                                                <td class="text-right">({{transaction.conditional.step[$index].bidSize}})</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Ask (Size)</th>
                                                <td class="text-right">{{transaction.conditional.step[$index].ask}}</td>
                                                <td class="text-right">({{transaction.conditional.step[$index].askSize}})</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Volume</th>
                                                <td>&nbsp;</td>
                                                <td class="text-right">{{transaction.conditional.step[$index].totalVolume | million}}M</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <span>October 15, 2014</span>
                            <span class="pull-right">{{transaction.conditional.step[$index].symbol}}</span>
                            <img width="347" style="display:block;margin:0 auto;" src="/modules/trade/img/chart.png">
                            <div class="voffset2">
                                <div class="btn-group-justified btn-group-sm btn-group segmented">
                                    <div class="btn-group ng-scope btn-group-sm" ng-class="buttonSize">
                                        <button class="btn btn-default ng-binding active">1 day</button>
                                    </div>
                                    <div class="btn-group ng-scope btn-group-sm" ng-class="buttonSize">
                                        <button class="btn btn-default ng-binding">1 week</button>
                                    </div>
                                    <div class="btn-group ng-scope btn-group-sm" ng-class="buttonSize">
                                        <button class="btn btn-default ng-binding">3 months</button>
                                    </div>
                                    <div class="btn-group ng-scope btn-group-sm" ng-class="buttonSize">
                                        <button class="btn btn-default ng-binding">1 year</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-horizontal">
                                <tbody>
                                     <tr>
                                        <th>Dividend Yield:</th>
                                        <td class="text-right">{{transaction.conditional.step[$index].performance.dividend}}%</td>
                                    </tr>
                                    <tr>
                                        <th>P/E (Trailing 12 mo.):</th>
                                        <td class="text-right">{{transaction.conditional.step[$index].performance.pe}}</td>
                                    </tr>
                                    <tr>
                                        <th>Next Earning Date:</th>
                                        <td class="text-right">XXX</td>
                                    </tr>
                                    <tr>
                                        <th>Next Dividend Date:</th>
                                        <td class="text-right">December 30, 2014</td>
                                    </tr>
                                    <tr>
                                        <th style="border-bottom: 1px solid #dbdbdb;">Special Event:</th>
                                        <td class="text-right">November 9, 2014</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right disclaimer"><time>Real Time Quote - Last Trade 1:06 PM ET 10/8/14</time></div>
                            <div class="text-right disclaimer"><a href="">View Margin Maintinence Requirement</a></div>
                        </div>
                    </div>

                    <div ng-show="segment === 'positions'">
                        <!-- Positions {{transaction.symbol}} -->
                        <div ng-if="transaction.conditional.step[$index].symbol !== ''">
                            <span>{{accountDataForSymbol[$index].positionsHeld.length}}</span> {{transaction.conditional.step[$index].symbol}} Positions
                            <table class="table">
                                <thead>
                                    <th>Symbol</th>
                                    <th>Qty</th>
                                    <th>Bid</th>
                                    <th>Ask</th>
                                </thead>
                                <tbody ng-repeat="position in accountDataForSymbol[$index].positionsHeld">
                                    <tr ng-if="position.lotType === 'stock'">
                                        <td><a href="">{{position.symbol}}</a></td>
                                        <td>{{position.quantity}}</td>
                                        <td>{{position.bid}}</td>
                                        <td>{{position.ask}}</td>
                                    </tr>
                                    <tr ng-if="position.lotType === 'option'">
                                        <td colspan="4">
                                            <div>{{position.displaySymbol}}</div>
                                            <div ng-repeat="leg in position.lots[0].legs">
                                                <p>{{leg.orderType}} {{leg.contracts}} {{leg.relatedStrikeInfo.displaySymbol}} @ {{leg.relatedStrikeInfo.strikePrice | currency}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="position.lotType === 'mutual-fund'">
                                        <td>{{position.symbol}}</td>
                                        <td>{{position.investmentAmount}}</td>
                                        <td>{{position.bid}}</td>
                                        <td>{{position.ask}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-if="transaction.conditional.step[$index].symbol === ''">
                            <p><span ng-if="accountData.positionsHeld.length < 5">{{accountData.positionsHeld.length}}</span>
                                <span ng-if="accountData.positionsHeld.length >= 5">5</span> of <span>{{accountData.positionsHeld.length}}</span> positions in this account</p>
                            <table class="table">
                                <thead>
                                    <th>Symbol</th>
                                    <th>Qty</th>
                                    <th>Bid</th>
                                    <th>Ask</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="position in accountData.positionsHeld | limitTo: 5">
                                        <td><a href="">{{position.symbol}}</a></td>
                                        <td>{{position.quantity}}</td>
                                        <td>{{position.bid}}</td>
                                        <td>{{position.ask}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <time>Real Time Quote - Last Trade 1:06 PM ET 10/8/15</time>
                        </div>
                        <div class="text-right disclaimer"><a href="">View Positions in new window</a>
                        </div>
                    </div>

                    <div ng-show="segment === 'orders'">
                        <!-- Orders {{transaction.symbol}} -->
                        <div ng-if="transaction.conditional.step[$index].symbol !== ''">
                            <p><span ng-if="accountDataForSymbol[$index].openOrders.length < 5">{{accountDataForSymbol[$index].openOrders.length}}</span><span ng-if="accountDataForSymbol[$index].openOrders.length >= 5">5</span> of {{accountDataForSymbol[$index].openOrders.length}} recent open orders</p>
                            <div class="panel card" ng-repeat="order in accountDataForSymbol[$index].openOrders | limitTo: 5 | orderBy: created">
                                <div ng-if="order.lotType === 'stock'">
                                    <div class="secondary">{{order.symbol}}</div>
                                    <div>
                                        <p>{{order.orderType}} {{order.quantity}} {{order.symbol}} @ {{order.pricePaid | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">{{order.created | date: "MM/dd/yyyy"}}</div>
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>

                                <div ng-if="order.lotType === 'option'">
                                    <div class="secondary">{{order.symbol}}</div>
                                    <div ng-repeat="leg in order.legs">
                                        <p>{{leg.orderType}} {{leg.contracts}} {{leg.relatedStrikeInfo.displaySymbol}} {{leg.relatedStrikeInfo.optionType}} @ {{leg.relatedStrikeInfo.strikePrice | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">{{order.created | date: "MM/dd/yyyy"}}</div>
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>

                                <div ng-if="order.lotType === 'mutual-fund'">
                                    <div class="secondary">{{order.symbol}}</div>
                                    <div>
                                        <p>{{order.orderType}} {{order.investmentAmount | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">{{order.created | date: "MM/dd/yyyy"}}</div>
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="transaction.conditional.step[$index].symbol === ''">
                            <p><span ng-if="accountData.openOrders.length < 5">{{accountData.openOrders.length}}</span>
                                <span ng-if="accountData.openOrders.length >= 5">5</span> of {{accountData.openOrders.length}} {{transaction.symbol}} recent open orders</p>
                            <div class="panel card" ng-repeat="order in accountData.openOrders | limitTo: 5 | orderBy: created">
                                <div ng-if="order.lotType === 'stock'">
                                    
                                        <div class="clearfix">
                                            <div class="secondary pull-left">{{order.symbol}}</div>
                                            <time class="pull-right">{{order.created | date: "MM/dd/yyyy"}}</time>
                                        </div>

                                    <div>
                                        <p>{{order.orderType}} {{order.quantity}} {{order.symbol}} @ {{order.pricePaid | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>

                                <div ng-if="order.lotType === 'option'">
                                    <div class="secondary">{{order.symbol}}</div>
                                    <div ng-repeat="leg in order.legs">
                                        <p>{{leg.orderType}} {{leg.contracts}} {{leg.relatedStrikeInfo.displaySymbol}} {{leg.relatedStrikeInfo.optionType}} @ {{leg.relatedStrikeInfo.strikePrice | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">{{order.created | date: "MM/dd/yyyy"}}</div>
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>

                                <div ng-if="order.lotType === 'mutual-fund'">
                                    <div class="secondary">{{order.symbol}}</div>
                                    <div>
                                        <p>{{order.orderType}} {{order.investmentAmount | currency}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">{{order.created | date: "MM/dd/yyyy"}}</div>
                                        <a class="pull-left" href="">Change</a>
                                        <a class="pull-right" href="">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <time>Real Time Quote - Last Trade 1:06 PM ET 10/8/15</time>
                        </div>
                        <div class="text-right disclaimer"><a href="">View All Open Orders In A New Window</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row" ng-hide="transaction.shares === undefined">
    <div class="col-xs-12 trade-footer">
        <div class="panel panel-highlight voffset4">
            <span class="panel-hightlight-item">
                <span class="label">Estimated Commission:</span><span class="data-points">{{transaction.commission | currency}}</span>
            </span>
            <span class="panel-hightlight-item">
                <span class="label">Estimated Total Cost:</span><span class="data-points">{{transaction.estimatedTotalCost | currency}}</span>
            </span>
            <span class="panel-hightlight-item" ng-show="transaction.estimatedProceed != undefined ">
                <span class="label">Estimated Proceeds:</span><span class="data-points">{{transaction.estimatedProceed | currency}}</span>
            </span>
        </div>
    </div>
</div>
<div class="row" ng-hide="transaction.shares === undefined">
    <div class="col-xs-12 voffset3 trade-tab">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-4" ng-hide="transaction.shares === undefined">
                <div class="nav" ng-click="togglePurchasingPower = !togglePurchasingPower">
                    <a class="trade-toggle-link et-icon-chevron-right et-trigger-link" ng-class="{rotate:purchasingPowerOpen}" ng-click="purchasingPowerOpen = !purchasingPowerOpen" aria-label="Toggle Purchasing Power">View impact to purchasing power</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default panel-supplemental trade-toggle-link" ng-show="purchasingPowerOpen" ng-init="calculatePurchasingPower()">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                                <th>Non-Marginable Securities/Options</th>
                                <th>Marginable Securities</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left" colspan="2">Purchasing power before open orders:</td>
                                <td>{{purchasingPower.beforeOpenOrders | currency}}</td>
                                <td>$10,777.69</td>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="2">Reserve for other open orders:</td>
                                <td>{{purchasingPower.reserve | currency}}</td>
                                <td>$10,777.69</td>
                            </tr>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="2">Purchasing power impact of this order:</td>
                                <td>{{purchasingPowerImpactThisOrder | currency}}</td>
                                <td>$10,777.69</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-left" colspan="2"><strong>Purchasing power after this order:</strong></td>
                                <td><strong>{{purchasingPowerAfterThisOrder | currency}}</strong></td>
                                <td><strong>$10,777.69</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 trade-footer">
        <div class="pull-right voffset3">
            <span class="text-muted text-right">Review your order before placing the order.</span>
            <button class="btn btn-primary" ng-click="stopLiveUpdate(); calculateCost();" ng-disabled="transaction.conditional.step[0].symbol === '' || alert.messages.length > 0">Preview</button>
        </div>
    </div>
</div>