<div class="popover clif">
    <div class="arrow"></div>
    <div class="row">
    <div class="pull-right" ng-click="$hide(); $event.stopPropagation()"><button class="close" aria-label="Close">×</button></div>

    <div class="col-xs-12">
        <div class="panel-body">
        <h4>Cash Purchasing Power Summary</h4>

        <table class="table table-condensed table-horizontal">
        <thead>
            <tr>
                <th>Settled Cash</th>
                <td class="text-right">$501.89</td>
            </tr>
            <tr>
                <th>Unsettled Cash</th>
                <td class="text-right">$0.00</td>
            </tr>
        </thead>
        </div>
    </div>
    </div>
</div>
