<div class="row voffset3"><div class="col-xs-12"><h4 class="panel">Stock - Retirement Cash</h4></div></div>
<div class="clearfix">
    <div class="col-xs-12 col-sm-auto">
        <div class="et-select-wrapper">
            <select name="account" id="account">
                <option>Your Account Brokerage **5855</option>
            </select>
        </div>
    </div>
</div>

<section class="clearfix">
    <div class="panel purchasing-power row flex" style="align-items: center;">
        <button class="close" aria-label="Hide Purchasing Power">&times;</button>
        <div class="col-xs-12 col-sm-4">
            <div class="clearfix et-purchasing-power">
                <div class="voffset3 et-purchasing-power-label">Net Account Value</div>
                <div class="primary pull-right">$1,212,579.00</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 datapoint-xl">
            <div class="clearfix">
                <div class="et-purchasing-power-label">Cash Purchasing Power Total</div>
                <div class="et-purchasing-power-data"><span class="">$1,571.93</span></div>
                <div class="et-purchasing-power-label">Cash available for withdrawal</div>
                <div class="et-purchasing-power-data"><span class=""> $1,571.93</span></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="clearfix voffset1 et-purchasing-power datapoint-md">
                <div class="et-purchasing-power-label">Settled</div>
                <div class="et-purchasing-power-data">$2,461.00</div>
            </div>
            <div class="clearfix et-purchasing-power datapoint-md">
                <div class="et-purchasing-power-label">Unsettled</div>
                <div class="et-purchasing-power-data">$670.85</div>
            </div>
        </div>
    </div>
</section>
